# Ignore Python virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local environment configs
.env

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
